body {
    font-family: cursive;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    /* text-align:center; */
}

.container {
    width: 100%;
    overflow: hidden;

}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

h1, h3 {
    margin: 10px 0;
}


#result {
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    /* background-color: #ddd; */
    /* border-radius: 5px; */
}

#Weight-Guide {
    margin-top: 20px;
    padding: 10px;
    background-color: #ddd;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 45px;
    cursor: pointer;
    margin-top: 10px 0px;
    font-size: 19px;
    width: 187px;
}

button:hover {
    background-color: #444;
}

#Guide{
    display: block;
    margin-bottom: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
    font-size: 25px;
}

input{
    background: rgba(129, 127, 127, 0.3);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: 1px solid black;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}
